.navbar {
    background-color: #5E17EB;
}
.navbar-nav .nav-item a{
    color:white
}
.navbar-brand img{
    height: 34px;
}
.navbar-toggler{
    box-shadow: none !important;
    border:none;
}

.nav-item.nav-link{
    color:rgb(206, 206, 206)
}
.nav-item.nav-link.active{
    color:white
}
.nav-item.carrito{
    color:white
}