.navbar {
    background-color: #5E17EB;
}
.navbar-nav .nav-item a{
    color:white
}
.navbar-brand img{
    height: 34px;
}
.navbar-toggler{
    box-shadow: none !important;
    border:none;
}

.nav-item.carrito{
    color:white
}